<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385283304556-itiacsh48tv6qqc17uheb0rbai2s55i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385283304556-itiacsh48tv6qqc17uheb0rbai2s55i2</string>
	<key>API_KEY</key>
	<string>AIzaSyB2qBBMzockp6bGJ4FcUTjwDFycELxk6KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>385283304556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.example.guessTheWord</string>
	<key>PROJECT_ID</key>
	<string>guess-the-word-77883</string>
	<key>STORAGE_BUCKET</key>
	<string>guess-the-word-77883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385283304556:ios:7b192492cb3f0d37a3fc49</string>
</dict>
</plist>